<!DOCTYPE html>
<!--
	TODO: Task 1, Task 2, Task 3
-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h2>Login Disabled</h2>

    <table>
      <tr>
        <td>
          Your login <span style="font-family: monospace" data-th-text="${username}"></span>
          has been deactivated for 30 mins.
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><button onclick="window.location.href='/'">Back</button></td>
      </tr>
    </table>
  </body>
</html>
